@font-face {
    font-family: 'iranSans';
    src: url(../fonts/IRANSansFaNum.ttf);
}

@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  

body {
    background: #e7e7e7;
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 32px rgba(50, 50, 50, 0.08);
    border-radius: 0px 0px 16px 16px;
    padding: 15px 26px;
    position: fixed;
    z-index: 3;
}

.header-type-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    width: 100%;
    background: none;
    padding: 15px 26px;
    position: relative;
    z-index: 3;
}

.logo img {
    width: 80%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgba(7, 121, 228, 1);
    border-radius: 25px;
}

.nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    background-color: #fff;
    width: 80%;
    height: 100%;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
    right: 0;
}

.nav-item {
    margin: 2rem 3rem;
    text-align: right;
    font-family: 'iranSans';
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.nav-item:first-child {
    margin-top: 5rem;
}

.nav-item a {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #36395A;
    margin-right: 18px;
}



.hamburger {
    display: block;
    cursor: pointer;
}


.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.navbar-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.track-orders, .track-orders:link, .track-orders:visited  {
    width: 108px;
    height: 36px;
    background:#0000FF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.49), 0px 2px 1px rgba(0, 98, 191, 0.76);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    transition: all .2s;
    position: relative;
    cursor: pointer;
}


.track-orders::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: #0000FF;
}

.track-orders:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
   -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
   box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.track-orders:active,
.track-orders:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(1, 61, 117,.2);
}

.track-orders:hover::after {
    transform: scale(1.2);
    opacity: 0;
}

.track-orders h4 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #F9F9F9;
}


.buy-likes {
    overflow: hidden;
    width: 100%;
    height: auto;
    min-height: auto;
    padding-top: 0;
    padding-bottom: 0;
    background: #D2E5F6;
    position: relative;   
}

.left-side {
    height: auto;
    padding-top: 50px;
    width: 370px;
    position: relative;
}

.img-left{
    width: 100%;
    margin-bottom: 20px;
}

.right-side {
    width: 100%;
    height: 293px;
    direction: rtl;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side h2 {
    font-family: 'iranSans';
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 15px;
}

.right-side p {
    width: 90%;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    color: #ffffff;
}

.buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons button {
    width: 90px;
    height: 47px;
    background: #0000FF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.49), 0px 2px 1px rgba(0, 98, 191, 0.76);
    border-radius: 20px;
    outline: none;
    border: none;
}

.buttons button h4 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #F9F9F9;
}


.nav-item.active  {
    background: #212529;
    padding: 8px;
    border-radius: 16px;
}

.nav-item.active a {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

.nav-item.active svg path {
    fill :#fff;
    stroke: #fff;
}


.nav-item.active svg rect {
    stroke: #fff;
}

.nav-item.active svg circle {
    stroke: #fff;
}

.attributes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    direction: rtl;
}

.attributes-full{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    direction: rtl;
}

.attributes::-webkit-scrollbar, .attributes-full::-webkit-scrollbar {
    display: none;
}

.card {
    width: 120;
    height: 170px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h3 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #0779E4;
    margin-top: 18px
}

.circle-out {
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 5px 5px 19px rgba(7, 121, 228, 0.16);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-inside {
    width: 90px;
    height: 90px;
    background: #F2F2F2;
    border-radius: 50%;
    position: relative;
}

.lock {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.tick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.speed {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.gear{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}


.order-header {
    direction: rtl;
    width: 100%;
    height: 68px;
    position: relative;
    top: 0;
    padding: 22px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order-header a {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #36395A;
}

.header-a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.header-a svg {
    margin-right: 5px;
}


.order-header img {
    width: 100px;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.background {
    position: relative;
    height: 150vh;
}

.order-background {
    position: relative;
    height: 155vh;
}


.order-background-level1 {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/pattern_opacity_06.png);
    background-size: cover;
    background-repeat: repeat;
    padding-bottom: 30px;
}

.order-background-tracking {
    position: relative;
    height: 100vh;
}

.order-background-level3 {
    position: relative;
    height: 140vh;
}

.order-background-tr2 {
    position: relative;
    height: 140vh;
}

.b-svg1 {
    position: absolute;
    left: 8%;
    bottom: 11%;
    width: 40px;
}

.b-svg2 {
    position: absolute;
    left: 35%;
    bottom: 5%;
    width: 40px;
}

.b-svg3 {
    position: absolute;
    left: 20%;
    top: 40%;
    width: 40px;
}

.b-svg4 {
    position: absolute;
    left: 5%;
    top: 20%;
    width: 40px;
}

.b-svg5 {
    position: absolute;
    left: 40%;
    top: 7%;
    width: 40px;
}

.b-svg6 {
    position: absolute;
    right: 5%;
    top: 24%;
    width: 40px;
}

.b-svg7 {
    position: absolute;
    right: 20%;
    top: 45%;
    width: 40px;
}

.b-svg8 {
    position: absolute;
    right: 4%;
    bottom: 20%;
    width: 40px;
}

.b-svg9 {
    position: absolute;
    right: 25%;
    bottom: 7%;
    width: 40px;
}

.b-svg10 {
    position: absolute;
    left: 7%;
    bottom: 32%;
    width: 40px;
}

.range-order {
    width: 90%;
    height: 10px;
    background: #E0E0E0;
    border-radius: 5px;
    direction: rtl;
    margin-top: 35px;
}

.range-level1 {
    width: 25%;
    height: 10px;
    background: linear-gradient(71.38deg, #0000FF 9.39%, #007CF1 63.35%, #89E5FF 100.13%);
    border-radius: 5px;
    transform: scaleX(0);
	transform-origin: right;
	animation: skillbar 1s 1s  cubic-bezier(1,0,0.5,1) forwards;
}

.range-level2 {
    width: 50%;
    height: 10px;
    background: linear-gradient(71.38deg, #0000FF 9.39%, #007CF1 63.35%, #89E5FF 100.13%);
    border-radius: 5px;
    transform: scaleX(0);
	transform-origin: right;
	animation: skillbar 1s 1s  cubic-bezier(1,0,0.5,1) forwards;
}

.range-level3 {
    width: 75%;
    height: 10px;
    background: linear-gradient(71.38deg, #0000FF 9.39%, #007CF1 63.35%, #89E5FF 100.13%);
    border-radius: 5px;
    transform: scaleX(0);
	transform-origin: right;
	animation: skillbar 1s 1s  cubic-bezier(1,0,0.5,1) forwards;
}

.range-level4 {
    width: 100%;
    height: 10px;
    background: linear-gradient(71.38deg, #0000FF 9.39%, #007CF1 63.35%, #89E5FF 100.13%);
    border-radius: 5px;
    transform: scaleX(0);
	transform-origin: right;
	animation: skillbar 1s 1s  cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes skillbar{
	100%{
		transform: scaleX(1);
	}

}

.order, .text-box {
    width: 90%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 3px 3px 56px -14px rgba(7, 121, 228, 0.16);
    border-radius: 10px;
    padding: 24px 16px;
    direction: rtl;
}


 .tab1, .tab2, .tab3 {
    width: 90%;
    height: auto;
    display: none;
 }

 .tab1 {
    width: 90%;
    height: auto;
    display: block;
 }

 .order-level1 {
    width: 90%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 3px 3px 56px -14px rgba(7, 121, 228, 0.16);
    border-radius: 10px;
    padding: 24px 16px;
    direction: rtl;
    margin-top: 14px;
    margin-bottom: 30px;
}

.order-last {
    width: 90%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 3px 3px 56px -14px rgba(7, 121, 228, 0.16);
    border-radius: 10px;
    padding: 24px 16px;
    direction: rtl;
    margin-top: 30px;
}

.order-tr2{
    width: 90%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 3px 3px 56px -14px rgba(7, 121, 228, 0.16);
    border-radius: 10px;
    position: absolute;
    top: 15%;
    left: 5%;
    padding: 24px 16px;
    direction: rtl;
}

.order-tracking {
    width: 90%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 3px 3px 56px -14px rgba(7, 121, 228, 0.16);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 24px 16px;
    direction: rtl;
}

.order-tracking h2 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #36395A;
    margin-bottom: 51px;
}

#issue, #tr-phone {
    width: 100%;
    height: 34px;
    background: #EFF2F5;
    border: none;
    outline: none;
    direction: ltr;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    color: #36395A;
    padding: 6px;
    margin-bottom: 24px;
    margin-left: 8px;
}

.issue, .tr-phone {
    width: 100%;
    height: 47px;
    background: #EFF2F5;
    box-shadow: inset 0px 2px 7px rgba(151, 148, 163, 0.16);
    border-radius: 3px;
    outline: none;
    margin-top: 5px;
    direction: ltr;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    color: #36395A;
    padding: 6px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
}

.issue img {
     width: 25px;
}

.order-tracking p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #0779E4;
}

.tr-button {
    width: 100%;
    height: 46px;
    background: radial-gradient(ellipse at top right,#0000FF,#5e69ff 100.13%);
    border-radius: 10px;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #F9F9F9;
    text-shadow: 0px 1px 2px rgba(1, 61, 117, 0.69);
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 64px;
}

.tr-button:hover {
    opacity: 0.8;
}

.order-level3 {
    width: 90%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 3px 3px 56px -14px rgba(7, 121, 228, 0.16);
    border-radius: 10px;
    position: absolute;
    top: 17%;
    left: 5%;
    padding: 24px 16px;
    direction: rtl;
    margin-bottom: 20px;
}

 .order-level1 h2 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #36395A;
    margin-bottom: 32px;
}

.order-last h2 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #36395A;
    margin-bottom: 10px;
}

.info-order {
    width: 90%;
    height: 89px;
    background: #FFFFFF;
    border-radius: 16px;
    border-right: 14px solid #0779E4;
    direction: rtl;
    padding: 17px 10px;
    margin-top: 30px;
}

.info-level1, .info-level2 {
    display: flex;
    flex-direction: row;
}

.info-level1 p, .info-level2 p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 21px;
    text-align: right;
    color: #323232;
}

.info-level1 {
    margin-bottom: 14px;
}

.info-order-img {
    position: relative;
    margin-left: 9px;
}

.info-order-img1 {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.info-order-img2 {
    position: absolute;
    top: 40%;
    left: 57%;
    transform: translate(-50%,-50%);
}




form label {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
}

.order-level1 label {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
}

.username {
    width: 100%;
    height: 47px;
    background: #EFF2F5;
    box-shadow: inset 0px 2px 7px rgba(151, 148, 163, 0.16);
    border-radius: 3px;
    padding: 5px 12px;
    margin-top: 8px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.username img {
    width: 25px;
}

#fid {
    width: 90%;
    height: 30px;
    margin: auto;
    background: #EFF2F5;
    outline: none;
    border: none;
    text-align: left;
    direction: ltr;
    font-family: 'iranSans';
    color: #828282;
}

.order p, .order-level1 p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #828282;
    margin-bottom: 50px;
    margin-top: 5px;
}

.order-last p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #828282;
    margin-bottom: 5px;
    margin-top: 5px;
}

.select {
    width: 100%;
    height: 47px;
    background: #EFF2F5;
    box-shadow: inset 0px 2px 7px rgba(151, 148, 163, 0.16);
    border-radius: 3px;
    padding: 5px 12px;
    margin-top: 8px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.select img {
    width: 25px;
}

#select {
    width: 100%;
    height: 30px;
    border: none;
    background: #EFF2F5;
    font-family: 'iranSans';
    color: #828282;
    cursor: pointer;
    margin-left: 5px;
    outline: none;
}
  
  .select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: #EFF2F5;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 10px;
    left: 40px;
    width: 24px;
    height: 24px;
    background-image: url(../img/icons8-expand-arrow-24.png);
  }

  .select-selected.select-arrow-active:after {
    background-image: url(../img/icons8-expand-arrow-24.png);
    top: 10px;
  }
  
  .select-selected {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: none;
    width: 100%;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #BDBDBD;
    border-radius: 0px 16px 16px 0px;
  }

  .select-items div {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: none;
    width: 100%;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #757575;
    border-bottom: 1px solid #BDBDBD;
  }

  
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #EFF2F5;
    top: 105%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

.submit {
    width: 100%;
    height: 46px;
    background: radial-gradient(ellipse at top right,#0000FF,#5e69ff 100.13%);
    border-radius: 10px;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #F9F9F9;
    text-shadow: 0px 1px 2px rgba(1, 61, 117, 0.69);
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 90px;
}

.submit:hover {
    opacity: 0.8;
}

.blog {
    padding-top: 80px;
    direction: rtl;
}

.blog-full {
    direction: rtl;
}

.blog h2 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #36395A;
}

.post-blog, .post-page {
    width: 100%;
    height: auto;
}

.post-page {
    padding: 16px;
}

.post-page p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #36395A;
    margin-top: 16px;
    margin-bottom: 16px;
}

.post-page img {
    width: 100%;
}

.post-img-blog {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-img-blog img {
    margin-left: 3px;
    width: 50%;
}

.post-fulldiv {
    width: 100%;
    height: auto;
    padding: 16px;
}

.post-card {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 5px 5px 19px rgba(7, 121, 228, 0.16);
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 32px;
    position: relative;
}

.post-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 12px;
}

.post-card h3 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #36395A;
    margin-bottom: 12px;
}

@supports (-webkit-line-clamp: 3){
.post-card p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #36395A;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 35px;
}
}

.post-card a {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: #0000FF;
    position: absolute;
    left: 12px;
    bottom: 10px;
}

.post-with-scroll {
    width: 100%;
    height: auto;
}

.tirt-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.tirt-post h3 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #36395A;
}

.tirt-post a {
    direction: ltr;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #0000FF;
}

.tirt-post svg {
    margin-right: 14px;
    margin-bottom: -3px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding: 16px;
}

.content::-webkit-scrollbar {
    display: none;
}

.content-card {
    width: 293px;
    height: auto;
    background: #F9F9F9;
    box-shadow: 5px 5px 19px rgba(7, 121, 228, 0.16);
    border-radius: 10px;
    padding: 16px;
    margin-left: 16px;
    position: relative;
}

.content-card img {
    margin-bottom: 8px;
    width: 100%;
    border-radius: 8px;
}

.content-card h3 {
    width: 260px;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #36395A;
    margin-bottom: 8px;
}

@supports (-webkit-line-clamp: 3){
.content-card p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #36395A;
    margin-bottom: 35px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 35px;
}
}

.content-card a {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #0000FF;
    position: absolute;
    left: 16px;
    bottom: 16px;
}

.footer-more {
    display: none;
}

.order-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.order-more a {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #828282;
}


.left-blog {
    margin-top: 32px;
    width: 100%;
    padding: 16px;
}

.left-blog img {
    width: 100%;
    margin-bottom: 16px;
}

.left-blog h3 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #828282;
    margin-top: 59px;
    margin-bottom: 10px;
}

.search {
    width: 100%;
    height: 47px;
    background: #F9F9F9;
    box-shadow: inset 0px 2px 7px rgba(151, 148, 163, 0.16);
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 29px;
}

#search {
    width: 100%;
    height: 35px;
    background: #F9F9F9;
    border: none;
    outline: none;
    font-family: 'iranSans';
    color: #828282;
}

.left-blog h2 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #36395A;
    margin-bottom: 8px;
}

.line {
    width: 100%;
    border-bottom: 0.5px solid #828282;
    margin-bottom: 16px;
}

.last-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.circle, .circle-g {
    width: 10px;
    height: 9px;
    background: linear-gradient(71.38deg, #0000FF 9.39%, #007CF1 63.35%, #89E5FF 100.13%);
    border-radius: 50%;
    margin-left: 8px;
}

.circle {
    margin-top: 5px;
}

.last-content p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #36395A;
}

.last-content a {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #0000FF;
    margin-right: 8px;
}

.grouping {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.grouping a {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #36395A;
}

footer {
    width: 100%;
    background-image: url(../img/sep-purple-top.svg);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
    padding-top: 35px;
}

.footer-full {
    width: 100%;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding-top: 35px;
}

.footer-article-one {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px; 
    padding: 24px 16px 8px 16px;
}

.footer-article-two {  
    padding: 0px 16px 24px 16px;
}

.column-one h2, .column-two h2, .footer-article-two h2, .symbol h2 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer-line {
    width: 135px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 16px;
}

.column-one li a, .column-two li a {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
}

.column-one li, .column-two li {   
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column-two li a {
    margin-right: 8px;
}

.whatsapp {
    position: relative;
    width: 20px;
    height: 30px;
}

.whatsapp-svg1, .whatsapp-svg2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.footer-form {
    display: flex;
    flex-direction: column;
}

.email-footer-label {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
}

.footer-email {
    width: 100%;
    height: 47px;
    background: #F9F9F9;
    box-shadow: inset 0px 2px 7px rgba(151, 148, 163, 0.16);
    border-radius: 3px;
    margin-top: 6px;
}

#footer-email {
    width: 100%;
    height: 47px;
    border: none;
    outline: none;
    color: #36395A;
    direction: ltr;
}

.f-submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-submit {
    width: 124px;
    height: 38px;
    background: #ffffff;
    border-radius: 10px;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #0000FF;
    border: 2px solid #0000ff75;
    outline: none;
    margin-top: 16px;
    cursor: pointer;
}

.symbol {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
}

.symbol h2 {
    margin-left: 30px;
}

.symbol-card {
    width: 50px;
    height: 50px;
    background: #828282;
    border-radius: 8px;
    margin-left: 16px;
    margin-top: 10px;
}

.down-footer {
    width: 100%;
    height: 37px;
    background: #0000FF;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-footer p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;

}

.h2-back {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center; 
    color: #36395A;
    margin-bottom: 27px;
    margin-top: 95px;
}

.text-box {
    padding: 16px;
}

.text-box img {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 16px;
}

.text-box p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #000000;
}

.text-box h3 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #000000;
    margin-top: 6px;
}

.accordion {
    background: white;
    width: 90%;
    min-height: 320px;
    max-width: 500px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    position: relative;
  }

  .accordion .title {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #828282;
    margin-right: 5px;
  }
  
  .accordion .title::after {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #0779E4;
  }
  .accordion label {
    float: right;
    width: 20px;
    height: 20px;
    padding: 5px;
  }
  .accordion label .mark {
    height: 10px;
    width: 10px;
    border-left: 2px solid #0779E4;
    border-bottom: 2px solid #0779E4;
    transition: transform 1s ease;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
  }

  .faq-line {
      width: 100%;
      border-bottom: 0.5px solid #828282;
      margin-top: 16px;
      margin-bottom: 16px;
  }
  .accordion input[type=checkbox] {
    display: none;
    float: right;
  }
  .accordion input[type=checkbox]:checked ~ .panel {
    height: 120px;
    transition: all 1s ease-in-out;
  }

  .accordion input[type=checkbox]:checked ~ .title {
    color: #0779E4;
  }

  .accordion input[type=checkbox]:checked ~ label .mark {
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .accordion .panel {
    margin: 10px 10px;
    height: 0px;
    transition: all 1s ease-in-out;
    overflow: hidden;
    border-radius: 5px;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #828282;
    margin-bottom: 16px;
  }

  .contact-card {
      width: 100%;
      padding: 16px;
      padding-top: 88px;
  }

  .social-tab {
      width: 100%;
      height: 620px;
      position: relative;
      background: #0779E4;
      box-shadow: 3px 3px 56px -14px rgba(7, 121, 228, 0.16);
      border-radius: 10px;
      direction: rtl;
      padding: 32px 24px;
  }

  .social-tab h2 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
  }

  .social-line {
      width: 100%;
      border-bottom: 0.3px solid #FFFFFF;
      margin-top: 24px;
      margin-bottom: 36px;
  }

  .social-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 24px;
  }

  .social-logo a {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-right: 18px;
  }

  .email-social {
      position: relative;
  }

  .email-social1 {
      position: absolute;
      bottom: 10px;
    }


.logo-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    direction: ltr;
    position: absolute;
    bottom: 40%;
    left: 10%;
}

.telegram {
    position: relative;
}

.telegram1 {
    position: absolute;
}

.telegram2 {
    position: absolute;
    top: 14px;
    left: 7px;
}

.twitter {
    position: relative;
    left: 60px;
    top: 15px;
}

.instagram {
    position: relative;
    left: 85px;
    top: 15px;
}

.instagram2 {
    position: absolute;
    top: 18%;
    right: 18%;
}

.instagram3 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.social-orange {
    position: absolute;
    left: 0;
    bottom: 0;
}

.social-circle {
    width: 120px;
    height: 120px;
    background: linear-gradient(71.38deg, #0000FF 9.39%, #007CF1 63.35%, #89E5FF 100.13%);
    box-shadow: -1px 2px 10px rgba(75, 75, 75, 0.25);
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    left: 45%;
}

.send-comment {
    width: 100%;
    padding: 32px;
    direction: rtl;
}

.name, .contact-email {
    width: 100%;
    height: 47px;
    background: #F9F9F9;
    box-shadow: inset 0px 2px 7px rgba(151, 148, 163, 0.16);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 29px;
    margin-top: 6px;
}

#massage {
    width: 100%;
    height: 145px;  
    background: #F9F9F9;
    box-shadow: inset 0px 2px 7px rgba(151, 148, 163, 0.16);
    border-radius: 3px;
    border: none;
    outline: none;
    margin-top: 6px;
    padding: 10px;
    font-family: 'iranSans';
    color: #828282;
}

#name{
    width: 100%;
    height: 30px;
    margin: auto;
    background-color: #F9F9F9;
    outline: none;
    border: none;
    text-align: right;
    direction: rtl;
    font-family: 'iranSans';
    color: #828282;
}

#contact-email {
    width: 100%;
    height: 30px;
    margin: auto;
    background-color: #F9F9F9;
    outline: none;
    border: none;
    text-align: left;
    direction: ltr;
    font-family: 'iranSans';
    color: #828282;
}

.comment-submit {
    width: 100%;
    height: 50px;
    background: radial-gradient(ellipse at top right,#0779E4,#5e69ff 100.13%);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.49), 0px 2px 1px rgba(0, 98, 191, 0.76);
    border-radius: 10px;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;  
    color: #F9F9F9;
    outline: none;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}
.comment-submit2 {
    width: 40%;
    height: 50px;
    background: linear-gradient(71.38deg, #0000FF 9.39%, #007CF1 63.35%, #89E5FF 100.13%);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.49), 0px 2px 1px rgba(0, 98, 191, 0.76);
    border-radius: 10px;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;  
    color: #F9F9F9;
    outline: none;
    border: none;
    margin-right: 10px;
}



.send-comment h2 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #36395A;
    margin-bottom: 20px;
}

.purchase {
    width: 100%;
    height: 700px;
    direction: rtl;
    background: #a4bcdb;
    box-shadow: inset -1px 4px 60px rgba(7, 121, 228, 0.2), inset 0px 1px 17px rgba(0, 93, 180, 0.2);
    border-radius: 24px 24px 0px 0px;
    padding: 32px 16px;
}

.purchase-full {
    width: 100%;
    height: 650px;
    direction: rtl;
    padding: 32px 0px;
}

.purchase h2 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #232544;
    margin-bottom: 42px;
}

.filter-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding: 10px;
    position: relative;
}

.filter-btn::-webkit-scrollbar {
    display: none;
}

#myBtnContainer {
    display: flex;
    flex-direction: row;
}

.btn {
    width: 239px;
    height: 50px;
    background: #F4F4F4;
    border-radius: 10px;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2e2e81;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 32px;
}

.btn:hover {
    background-color: #2020d6cc;
    color: #ffffff;
    font-weight: 500;
}

.btn.active-btn {
    width: 237px;
    height: 50px;
    background: #0000FF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.49), 0px 2px 1px rgba(0, 98, 191, 0.76);
    border-radius: 10px;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    animation: 0.5s linear 0s 1 normal forwards running Border;
}

@keyframes Border {
    0% {
        background:#0000FF;
    }

    100% {
        background: radial-gradient(ellipse at top right,#0000FF,rgba(0, 99, 191, 0.247));
    }
}

.filterDiv {
    float: right;
    display: none;
  }
  
  .show {
    display: block;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding: 10px;
    padding-top: 20px;
    margin-top: 26px;
  }

  .container::-webkit-scrollbar {
    display: none;
}

  .full-filer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 10px;
  }

  .full-filer::-webkit-scrollbar {
    display: none;
}

  .pur-card {
    width: 253px;
    height: 396.37px;
    background: #FFFFFF;
    box-shadow: 5px 5px 19px rgba(7, 121, 228, 0.16);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin-left: 16px;
  }


  .blue-semic {
      position: absolute;
      top: 0;
      right: 12px;
      z-index: -1;
      width: 223.7px;
  }

  .white-semic img {
      position: relative;
      top: -10px;
      right: 20px;
      width: 206px;
      height: 103px;
  }

  .white {
      position: absolute;
      top: -15px;
      right: 25px;
  }

  .white-semic h4 {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 40%;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #0779E4;
}

  .white-semic p {
      z-index: 2;
      position: absolute;
      top: 28px;
      right: 30%;
      font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #0779E4;
  }

  .text-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 19px;
      padding-bottom: 19px;
  }

  .text-row p {
    font-family: 'iransans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    margin-right: 7px;
    color: #36395A;
  }

  .pur-button {
    width: 220px;
    height: 46px;
    background: radial-gradient(ellipse at top right,#0000FF,#5e69ff 100.13%);
    border-radius: 10px;
    font-family: 'iranSans';
    cursor: pointer;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #F9F9F9;
    text-shadow: 0px 1px 2px rgba(1, 61, 117, 0.69);
    position: absolute;
    bottom: 19px;
    right: 18px;
  }

  .pur-button:hover {
      opacity: 0.8;
  }

  
.data {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-data {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.user-data img {
    width: 46px;
    border-radius: 50%;
}


.p-change {
    margin-right: 9.5px;
    margin-top: 16px;
}

.p-change h3 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 13px;
    text-align: right;   
    color: #4F4F4F;
}

.p-change p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #4F4F4F;
    margin-bottom: 0;
}

.change-button {
    margin-right: 8px;
}

.ch-button {
    width: 95px;
    height: 34px;
    background: radial-gradient(ellipse at top right,#0000FF,#5e69ff 100.13%);
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    color: #F9F9F9;
    text-shadow: 0px 1px 2px rgba(1, 61, 117, 0.69);
}

.ch-button:hover {
    opacity: 0.8;
}

.st-button {
    width: 100px;
    height: 28px;
    left: 372px;
    top: 254px;
    background: #FB8500;
    border-radius: 61px;
    border: none;
    outline: none;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.posts {
    margin-top: 56px;
}

.post-img {
    height: auto;
    direction: ltr;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 10px 10px;
    justify-items: stretch;
    position: relative;
}

.post-img img {
    position: relative;
}

.all-tr {
    overflow-y: scroll;
    height: 170px;
    direction: ltr;
    scrollbar-color:  #89E5FF  #f1f1f1;
    scrollbar-width: thin;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: row;
}

.post-tracking {
    width: 95px;
    height: 94px;
    margin: 7px;
    position: relative;
}

.post-tracking img {
    width: 100%;
    opacity: 0.7;
}

.heart1, .heart2{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.post-tracking p {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #36395A;

}


.post-img img {
    width: 94px;
    cursor: pointer;
}

.post-img-level3 img {
    width: 94px;
}

.post-img img::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0,0,0,.6);
}

.order-level1 h4 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #36395A;
    margin-bottom: 16px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: right;  
    color: #4F4F4F;
    margin-bottom: 8px;
}

.row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    background: #F0F0F0;
    border-radius: 8px;
    padding: 8px;
    margin-top: 8px;
}

.row1 p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
    line-height: 24px;
    text-align: right;
    color: #0779E4;
    margin-bottom: 15px;

}

.tr-line {
    width: 100%;
    border-bottom: 2px dashed #DFDFDF;
}

.post-img-level3 {
    height: auto;
    direction: ltr;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 10px 10px;
    justify-items: stretch;
    position: relative;
}

.status-button {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.continu {
    width: 100%;
    height: 50px;
    background: radial-gradient(ellipse at top right,#0000FF,#4853e7 100.13%);
    border-radius: 10px;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #F9F9F9;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 74px;
}

.continu:hover {
    opacity: 0.8;
}

.user-input, .mobile-phone {
    width: 100%;
    height: 47px;
    background: #EFF2F5;
    box-shadow: inset 0px 2px 7px rgba(151, 148, 163, 0.16);
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 7px;
}

#user-input, #mobile-phone {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: #EFF2F5;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    color: #36395A;
}

#mobile-phone {
    text-align: left;
    direction: ltr;
}

#user-input {
    text-align: right;
    direction: rtl;
}

.send-code {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column-mobile {
    display: flex;
    flex-direction: column;
}

.captchaBtn {
    height: 38px;
    width: 45%;
    background: radial-gradient(ellipse at top right,#0000FF,#3b44bb 100.13%);
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 8px;
    margin-top: 22px;
}

.btn-timer {
    height: 38px;
    width: 100%;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #F9F9F9;
}

.ver-number {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    direction: ltr;
}

.verify-input-field {
    width: 50px;
    height: 50px;
    background: #F9F9F9;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 7px rgba(151, 148, 163, 0.16);
    border-radius: 3px;
    margin-left: 16px;
    padding: 6px;
    background: #F9F9F9;
    outline: none;
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    color: #36395A;
    border: none;
    outline: none;
}

#last-button {
    width: 100%;
    height: 50px;
    background: radial-gradient(ellipse at top right,#0000FF,#4853e7 100.13%);
   border-radius: 10px;
   outline: none;
   border: none;
   margin-top: 64px;
   font-family: 'iranSans';
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 30px;
   color: #F9F9F9;
   cursor: pointer;
}

#last-button:hover {
    opacity: 0.8;
}

.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.succes-button {
    width: 100%;
    height: 50px;
    background: radial-gradient(ellipse at top right,#0000FF,#4952cf 100.13%);
   border-radius: 10px;
   outline: none;
   border: none;
   margin-top: 45px;
   font-family: 'iranSans';
   font-style: normal;
   font-weight: bold;
   font-size: 20px;
   line-height: 30px;
   color: #F9F9F9;
   cursor: pointer;
}

.succes-button:hover {
    opacity: 0.8;
}

.statics {
    width: 100%;
    padding: 17px;
    direction: rtl;
    margin-top: 60px;
}

.statics-full {
    width: 100%;
    padding: 17px;
    direction: rtl;
    margin-top: 60px;
}

.right-statics, .left-statics {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.up-right {
    width: 166px;
    height: 99px;
    background: #0000FF;
    box-shadow: 3px 3px 56px -14px rgba(7, 121, 228, 0.16);
    border-radius: 16px;
    padding: 16px 2px 16px 2px;
    margin-left: 3px;
    animation: 2s linear 0s 1 normal forwards running upRight;
    animation-iteration-count: infinite;
	transform-box: fill-box;
	transform-origin: 50% 50%
}

@keyframes upRight {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(20px);
    }
}

.up-right p, .down-right p {
font-family: 'iranSans';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
}

.down-right {
    width: 166px;
    height: 99px;
    background: #0000FF;
    box-shadow: 3px 3px 56px -14px rgba(7, 121, 228, 0.16);
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 40px;
    animation: 2s linear 0s 1 normal forwards running downRight;
    animation-iteration-count: infinite;
	transform-box: fill-box;
	transform-origin: 50% 50%
}

@keyframes downRight {
    0% {
         transform: translateY(20px);
    }
    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
       
    }
}

.text-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 16px;
    direction: rtl;
}

.text-section h1 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #36395A;
    margin-bottom: 16px;
}

.text-section p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #36395A;
    width: 100%;
}

.slideshow-container {
    width: 100%;
    height: 180px;
    position: relative;
    float: left;
    cursor: pointer;
  }

  .mySlides {
    height: 180px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 3px 3px 56px -14px rgba(7, 121, 228, 0.16);
    border-radius: 10px;
    padding: 16px 16px;
  }

  .mySlides h2 {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    text-align: right;
    color: #36395A;
    margin-bottom: 6px;
  }

  .mySlides p {
    font-family: 'iranSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #36395A;
  }

  .prev {
    display: none;
  }
  
  .next {
    display: none;
  }
  
  
  
  .all-dot {
    text-align: center;
    margin-top: 8px;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #E0E0E0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active-dot, .dot:hover {
    background-color: #0779E4;
    border: 3px solid #E0E0E0;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    0% {
        transform: translateX(-50%);
        opacity: 0%;
      }
      100% {
        transform: translateX(0%);
        opacity: 100%;
      }
  }
  

  .comment-section {
      width: 100%;
      position: relative;
      padding: 48px 16px;
      direction: rtl;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .comment-section h1 {
        font-family: 'iranSans';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #36395A;
        margin-bottom: 20px;
    }

    .send-comment-home, .send-comment-home:link, .send-comment-home:visited {
       width: 162px;
       height: 38px;
       background: #0000FF;
       border-radius: 10rem;
       outline: none;
       border: none;
       cursor: pointer;
       font-family: 'iranSans';
       font-style: normal;
       font-weight: 600;
       font-size: 13px;
       line-height: 21px;
       color: #F9F9F9;
       margin-top: 36px;
       position: relative;
    }
    
    
    .send-comment-home::after {
        content: "";
        display: inline-block;
        width: 162px;
        height: 38px;
        border-radius: 10rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        background-color: #0000FF;
    }
    
    .send-comment-home:hover {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
       -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
       box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    }
    
    .send-comment-home:active,
    .send-comment-home:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(1, 61, 117,.2);
    }
    
    .send-comment-home:hover::after {
        transform: scale(1.2);
        opacity: 0;
    }

    .full-heart.active-heart{
        animation:like 0.5s 1;
        fill:red;
        stroke:none;
    }

    .full-heart, .share-button {
        cursor: pointer;
    }

    .share {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 26px;
        justify-content: flex-end;
    }

    .share-button {
        margin-left: 10px;
    }

    .blog-comment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .name-blog {
        width: 100%;
        height: auto;
    }

    .range-container {
        position: relative;
        width: 300px;
        height: 60px;
        padding-right: 5px;
        padding-left: 5px;
        margin-top: 13px;
      }

      .buy-like {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 15px;
      }
        
      .range-full {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        position: relative;
        width: 100%;
        height: 218px;
        background: #FFFFFF;
        box-shadow: 5px 5px 19px rgb(7 121 228 / 16%);
        border-radius: 10px;
        direction: rtl;
        margin-top: 47px;
        padding-top: 25px;
    
      }


      .landing {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(ellipse at top right,#0000FF,rgba(255,255,255,0));
    }

    .buy-like-full {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 0;
        height: calc(100vh - 100px);
        width: 100%;
        padding-top: 20px;
        height: auto;
        min-height: 700px;
        padding-bottom: 30px;
        opacity: 0.9;
    }

    .landing-img {
        position: absolute;
        left: -1%;
        height: auto;
        width: 102%;
        bottom: -3px;
        border-bottom: 1px solid #fff;
    }

      .buy-like h2 {
        font-family: 'iranSans';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #36395A;
        margin-bottom: 18px;
      }

      .buy-like p {
          direction: rtl;
          font-family: 'iranSans';
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #36395A;
      }
      
      input[type="range"] {
        width: 300px;
        margin: 18px 0;
        -webkit-appearance: none;
        direction: ltr;
      }
      
      input[type="range"]:focus {
        outline: none;
      }
      
      input[type="range"] + label {
        background-image: url(../img/Rectangle\ 25range.png);
        background-position: bottom;
        background-repeat: no-repeat;
        border-radius: 5px;
        position: absolute;
        top: -32px;
        left: 114px;
        width: 60px;
        height: 40px;
        padding: 5px 0;
        text-align: center;
        border-radius: 4px;
        direction: ltr;
        font-family: 'iranSans';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
        direction: rtl;
      }
      
      /* Chrome & Safari */
      input[type="range"]::-webkit-slider-runnable-track {
        background: #0779E4;
        opacity: 0.2;
        border-radius: 5px;
        width: 700px;
        height: 10px;
        cursor: pointer;
      }
      
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 24px;
        width: 24px;
        border-radius: 5px;
        border-radius: 50%;
        background:  #0000FF;
        margin-top: -7px;
        cursor: pointer;
      }
      
      /* Firefox */
      input[type="range"]::-moz-range-track {
        background: #0779E4;
        opacity: 0.2;
        border-radius: 5px;
        border-radius: 4px;
        width: 700px;
        height: 14px;
        cursor: pointer;
      }
      
      input[type="range"]::-moz-range-thumb {
        -webkit-appearance: none;
        height: 24px;
        width: 24px;
        background: linear-gradient(69.4deg, #FF5C00 10.46%, #FF7A00 65.18%, #FFAB5E 106.55%);
        border-radius: 5px;
        border-radius: 50%;
        background: linear-gradient(71.38deg, #0000FF 9.39%, #007CF1 63.35%, #89E5FF 100.13%);
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.49), 0px 2px 1px rgba(0, 98, 191, 0.76);
        margin-top: -7px;
        cursor: pointer;
      }
      
      /* IE */
      input[type="range"]::-ms-track {
        background: #0779E4;
        opacity: 0.2;
        border-radius: 5px;
        border-radius: 4px;
        width: 700px;
        height: 14px;
        cursor: pointer;
      }
      
      input[type="range"]::-ms-thumb {
        -webkit-appearance: none;
        height: 24px;
        width: 24px;
        background: linear-gradient(69.4deg, #FF5C00 10.46%, #FF7A00 65.18%, #FFAB5E 106.55%);
        border-radius: 5px;
        border-radius: 50%;
        background: linear-gradient(71.38deg, #0000FF 9.39%, #007CF1 63.35%, #89E5FF 100.13%);
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.49), 0px 2px 1px rgba(0, 98, 191, 0.76);
        margin-top: -7px;
        cursor: pointer;
      }


    #demo {
        font-family: 'iranSans';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        text-align: right;
        color: #FB8500;
        direction: rtl;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .like-buy-sub {
        width: 157px;
        height: 46px;
        background: radial-gradient(ellipse at top right,#0000FF,#5e69ff 100.13%);
        border-radius: 10px;
        font-family: 'iranSans';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #F9F9F9;
        text-shadow: 0px 1px 2px rgba(1, 61, 117, 0.69);
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: 11px;
    }


    .nav-prev, .nav-next, .nav-prev1, .nav-next1 {
        display: none;
    }

    .la-btn, .la-btn:link, .la-btn:visited {
        text-transform: uppercase;
        transition: all .2s;
        position: relative;
        cursor: pointer;
    }

    .la-btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
        background-color: #0000FF;
    }

    .la-btn:hover {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
       -webkit-box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
       box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    }
    
    .la-btn:active,
    .la-btn:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(1, 61, 117,.2);
    }

    .la-btn.animated {
        -webkit-animation: moveInBottom .5s ease-out .75s;
        animation: moveInBottom .5s ease-out .75s;
        -webkit-animation-fill-mode: backwards;
        animation-fill-mode: backwards;
    }

    .la-btn:hover::after {
        transform: scale(1.2);
        opacity: 0;
    }

    .ball1{
        position: absolute;
        left: 34px;
        bottom: 70px;
        width: 66px;
        animation: 2s linear 0s 1 normal forwards running Ball1;
        animation-iteration-count: infinite;
        transform-box: fill-box;
        transform-origin: 50% 50%
    }

    @keyframes Ball1 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-15px);
        }
        100% {
            transform: translateY(15px);
        }
    }

    .ball2{
        position: absolute;
        bottom: 20px;
        left: 81px;
        width: 74px;
        animation: 2s linear 0s 1 normal forwards running Ball2;
        animation-iteration-count: infinite;
        transform-box: fill-box;
        transform-origin: 50% 50%
    }
    @keyframes Ball2 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-14px);
        }
        100% {
            transform: translateY(14px);
        }
    }

    .ball3{
        position: absolute;
        width: 43px;
        bottom: 72px;
        right: 136px;
        animation: 2s linear 0s 1 normal forwards running Ball3;
        animation-iteration-count: infinite;
        transform-box: fill-box;
        transform-origin: 50% 50%
    }

    @keyframes Ball3 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-17px);
        }
        100% {
            transform: translateY(17px);
        }
    }

    .ball4{
        position: absolute;
        width: 65px;
        bottom: 35px;
        right: 78px;
        animation: 2s linear 0s 1 normal forwards running Ball4;
        animation-iteration-count: infinite;
        transform-box: fill-box;
        transform-origin: 50% 50%
    }

    @keyframes Ball4 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-17px);
        }
        100% {
            transform: translateY(17px);
        }
    }

    .ball5{
        position: absolute;
        width: 88px;
        bottom: 73px;
        right: 9px;
        animation: 2s linear 0s 1 normal forwards running Ball5;
        animation-iteration-count: infinite;
        transform-box: fill-box;
        transform-origin: 50% 50%
    }

    @keyframes Ball5 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-17px);
        }
        100% {
            transform: translateY(17px);
        }
    }

    .ball45{
        position: absolute;
        width: 71px;
        bottom: 105px;
        right: 62px;    
        animation: 2s linear 0s 1 normal forwards running Ball4;
        animation-iteration-count: infinite;
        transform-box: fill-box;
        transform-origin: 50% 50%
    }

    @keyframes Ball4 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-16px);
        }
        100% {
            transform: translateY(16px);
        }
    }

    .ball7{
        position: absolute;
        width: 48px;
        bottom: 100px;
        left: 78px;
        animation: 2s linear 0s 1 normal forwards running Ball7;
        animation-iteration-count: infinite;
        transform-box: fill-box;
        transform-origin: 50% 50%
    }

    @keyframes Ball7 {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-13px);
        }
        100% {
            transform: translateY(13px);
        }
    }

      .error p {
        font-family: 'iranSans';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #ff0000;
        margin-top: 20px;
    }



@media (min-width: 1008px) {
    
    .home-header, .header-type-two {
        padding-left: 80px;
        padding-right: 80px;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        direction: rtl;
        display:flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        top:0;
        right: 0;
        background: none;
        width: 100%;
        height: 68px;
        position: unset;
        box-shadow: unset;
        transition: unset;
    }

    .nav-item {
        margin: 2rem;
        margin-left: 32px;
        margin-right: 0;
    }

    .nav-item:first-child {
        margin-top: 2rem;
    }

    .nav-item.active  {
        background: none;
        padding: 0px;
        border-radius: 0px;
    }

    .nav-item.active a {
        font-family: 'iranSans';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #0000FF;
    }

    .nav-item a {
        font-family: 'iranSans';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #36395A;
    }

    .nav-item svg {
        display: none;
    }

    .track-orders {
        width: 192px;
    }

    .range-order {
        width: 600px;
    }
    
    .order, .text-box {
        width: 600px;
        padding: 30px 30px;
    }

    .tab1, .tab2, .tab3 {
        width: 600px;
    }

    .order-level1 {
        width: 600px;
        padding: 50px 50px;
    }

    .order-last {
        width: 600px;
        padding: 30px 30px;
    }

    .order-tr2 {
        width: 40%;
        left: 50%;
        top: 55%;
       transform: translate(-50%,-50%);
        padding: 30px 30px;
    }

    .order-tracking {
        width: 40%;
        left: 50%;
        top: 58%;
       transform: translate(-50%,-50%);
        padding: 30px 30px;
    }

    .order-background-level3 {
        height: 200vh;
    }

    .order-level3 {
        width: 40%;
        left: 50%;
        top: 56%;
       transform: translate(-50%,-50%);
        padding: 30px 30px;
    }


    .blog {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 0;
    }

    .blog-full {
        display: flex;
        flex-direction: row;
        padding: 80px 80px;
    }

    .blog h2 {
        display: none;
    }

    .post-blog, .post-page {
        width: 70%;
        height: auto;
        background: #FFFFFF;
        box-shadow: 5px 5px 19px rgba(7, 121, 228, 0.16);
        border-radius: 3px;
    }

    .post-page {
        padding: 64px;
    }

    .left-blog {
        width: 30%;
        padding-right: 51px;
    }

    .post-card {
        padding: 64px;
    }

    .post-card a {
        left: 64px;
        bottom: 30px;
    }

    .tirt-post a {
        display: none;
    }

    @supports (-webkit-line-clamp: 4){
        .post-card p {
            -webkit-line-clamp: 4;
        }
    }

    .post-with-scroll {
        padding: 64px;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        padding: 0px;
    }

    .content-card {
        margin-bottom: 48px;
    }

    .footer-more {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-more a {
        font-family: 'iranSans';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #828282;
    }

    .order-more {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .order-more a {
        font-family: 'iranSans';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: #828282;
    }

    .up-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-article-one {
        display: flex;
        width: 50%;
        padding: 32px 77px;
    }

    .footer-article-two {
        width: 40%;
        padding: 32px 77px;
    }

    .contact-card {
        display: flex;
        flex-direction: row-reverse;
        padding: 98px;
        padding-bottom: 0;
    }

    .send-comment {
        padding: 0;
        padding-right: 32px;
    }

    .social-tab {
        height:82vh;
    }

    .social-circle {
        left: 25%;
    }

    .logo-footer {
        left: unset;
        right: 25%;
        bottom: 8%;
    }

    .data {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .user-data {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .user-data img {
        width: 74px;
        border-radius: 50%;
    }
    
    
    .p-change {
        margin-right: 9.5px;
        margin-top: 16px;
    }
    
    .p-change h3 {
        font-family: 'iranSans';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        text-align: right;   
        color: #4F4F4F;
    }
    
    .p-change p {
        font-family: 'iranSans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        color: #4F4F4F;
    }
    
    .change-button {
        margin-right: 0;
        width: 55%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }
    
    .ch-button {
        width: 148px;
        height: 46px;
        border-radius: 10px;
        outline: none;
        border: none;
        cursor: pointer;
        font-family: 'iranSans';
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #F9F9F9;
        text-shadow: 0px 1px 2px rgba(1, 61, 117, 0.69);
    }
    
    .posts {
        margin-top: 56px;
    }
    
    .post-img {
        height: auto;
        direction: ltr;
    }

    .post-img img {
        width: 138px;
        border-radius: 10px;
        cursor: pointer;
    }

    .post-img-level3 {
        height: auto;
        direction: ltr;
    }

    .post-img-level3 img {
        width: 138px;
        border-radius: 10px;
    }

    .column-mobile {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .captchaBtn {
        width: 38%;
    }
    .send-code {
        justify-content: space-between;
    }

    .statics {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0;
    }

    .statics-full {
        width: 1050px;
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }

    .right-statics, .left-statics {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .up-right, .down-right {
        width: 234px;
        height: 159px;
        padding: 30px 15px;
    }

    .down-right {
        margin-top: 80px;
    }


    .up-right p, .down-right p {
        font-size: 22px;
        margin-bottom: 16px;
    }

    .text-section p {
        width: 35%;
    }

    .prev {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 45%;
        left: 165px;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: #0779E4;
        font-weight: bold;
        font-size: 2rem;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      .next {
        display: block;
        right: 165px;
        border-radius: 3px 0 0 3px;
        cursor: pointer;
        position: absolute;
        top: 45%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: #0779E4;
        font-weight: bold;
        font-size: 2rem;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }

      .all-dot {
        display: none;
      }

      .mySlides {
          width: 608px;
      }

      .slideshow-container {
          width: 1050px;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .buy-like {
          padding: 50px 135px;
      }

      .range-container {
          width: 650px;
          margin-left: 47px;
          margin-right: 47px;
      }

      .buy-likes {
        overflow: hidden;
        width: 100%;
        min-height: auto;
        max-height: 1000px;
        padding-top: 0;
        padding-bottom: 0;
        background: #D2E5F6;
        position: relative;
        box-shadow: inset 0px 4px 23px rgba(50, 50, 50, 0.16);   
        }

        .landing {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(ellipse at top right,#0000FF,rgba(255,255,255,0));
        }

        .buy-like-full {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            font-size: 0;
            height: calc(100% - 100px);
            width: 100%;
            padding-top: 0;
            height: auto;
            min-height: 700px;
            padding-bottom: 50px;
            opacity: 0.9;
        }

        .landing-img {
            position: absolute;
            left: -1%;
            height: auto;
            width: 102%;
            bottom: -16px;
            border-bottom: 1px solid #fff;
        }

        .fix-width {
            width: 1199px;
            margin: 0 auto;
        }

      .left-side {
        background: none;
        width: 45%;
        padding-top: 0;
    }

    .right-side {
        width: 49%;
    }

    .right-side h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .right-side p {
        font-size: 17px;
        margin-bottom: 31px;
    }

    .buttons button {
        width: 258px;
    }

    .attributes {
        justify-content: space-around;
    }

    .attributes-full{
        width: 1050px;
        height: auto;
        display: flex;
        flex-direction: row;
         
        justify-content: space-around;
    }

    input[type="range"] + label {
        direction: rtl;
        left: 278px;
        width: 80px;
        height: 50px;
        top: -44px;
        padding: 12px 0;
        font-size: 15px;
    }

    .purchase {
        padding: 32px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .purchase-full {
        width: 1191px;
        height: 650px;
        padding: 32px 50px;
        position: relative;
    }

    

    .nav-prev {
        display: block;
        width: 54px;
        height: 54px;
        background: #FFFFFF;
        border: 4px solid #D1E4F6;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        left: -31px;
        top: 115px;
        z-index: 2;
    }

    .nav-next {
        display: block;
        width: 54px;
        height: 54px;
        background: #FFFFFF;
        border: 4px solid #D1E4F6;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        right: -20px;
        top: 115px;
        z-index: 2;
    }

    .nav-prev img {
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translate(-50%,-50%);
    }

    .nav-next img {
        position: absolute;
        top: 38%;
        left: 45%;
        transform: translate(-50%,-50%);
        transform: rotate(180deg);
        }

    
        .nav-prev1 {
            display: block;
            width: 54px;
            height: 54px;
            background: #FFFFFF;
            border: 4px solid #D1E4F6;
            border-radius: 50%;
            cursor: pointer;
            position: absolute;
            left: -31px;
            bottom: 251px;
            z-index: 2;
        }
    
        .nav-next1 {
            display: block;
            width: 54px;
            height: 54px;
            background: #FFFFFF;
            border: 4px solid #D1E4F6;
            border-radius: 50%;
            cursor: pointer;
            position: absolute;
            right: -20px;
            bottom: 251px;
            z-index: 2;
        }
    
        .nav-prev1 img {
            position: absolute;
            top: 50%;
            left: 49%;
            transform: translate(-50%,-50%);
        }
    
        .nav-next1 img {
            position: absolute;
            top: 37%;
            left: 45%;
            transform: translate(-50%,-50%);
            transform: rotate(180deg);
        }

        #demo {
            margin-top: 30px;
            margin-bottom: 30px;
        }  

        .navbar-header {
            width: 1056px;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .order-header {
            width: 1050px;
        }

        .range-level1 {
            width: 150px;
            height: 10px;
            background: linear-gradient(71.38deg, #0000FF 9.39%, #007CF1 63.35%, #89E5FF 100.13%);
            border-radius: 5px;
            transform: scaleX(0);
            transform-origin: right;
            animation: skillbar 1s 1s  cubic-bezier(1,0,0.5,1) forwards;
        }
        
        .range-level2 {
            width: 300px;
            height: 10px;
            background: linear-gradient(71.38deg, #0000FF 9.39%, #007CF1 63.35%, #89E5FF 100.13%);
            border-radius: 5px;
            transform: scaleX(0);
            transform-origin: right;
            animation: skillbar 1s 1s  cubic-bezier(1,0,0.5,1) forwards;
        }
        
        .range-level3 {
            width: 450px;
            height: 10px;
            background: linear-gradient(71.38deg, #0000FF 9.39%, #007CF1 63.35%, #89E5FF 100.13%);
            border-radius: 5px;
            transform: scaleX(0);
            transform-origin: right;
            animation: skillbar 1s 1s  cubic-bezier(1,0,0.5,1) forwards;
        }
        
        .range-level4 {
            width: 600px;
            height: 10px;
            background: linear-gradient(71.38deg, #0000FF 9.39%, #007CF1 63.35%, #89E5FF 100.13%);
            border-radius: 5px;
            transform: scaleX(0);
            transform-origin: right;
            animation: skillbar 1s 1s  cubic-bezier(1,0,0.5,1) forwards;
        }


        input[type="range"] {
            width: 650px;
            margin: 18px 0;
            -webkit-appearance: none;
            direction: ltr;
          }

          .range-full {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 1050px;
            height: 100px;
            padding-top: 0;
            background: #FFFFFF;
            box-shadow: 5px 5px 19px rgba(7, 121, 228, 0.16);
            border-radius: 10px;
            direction: rtl;
            margin-top: 47px;
        }

        .like-buy-sub {
            width: 157px;
            height: 46px;
            background: radial-gradient(ellipse at top right,#0000FF,#5e69ff 100.13%);
            border-radius: 10px;
            font-family: 'iranSans';
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #F9F9F9;
            text-shadow: 0px 1px 2px rgba(1, 61, 117, 0.69);
            outline: none;
            border: none;
            cursor: pointer;
            position: unset;
        }

        .like-buy-sub:hover {
            opacity: 0.8;
        }

        .ball1{
            position: absolute;
            left: 48px;
            bottom: 80px;
            width: 96px;
            animation: 2s linear 0s 1 normal forwards running Ball1;
            animation-iteration-count: infinite;
	        transform-box: fill-box;
	        transform-origin: 50% 50%
        }

        @keyframes Ball1 {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-15px);
            }
            100% {
                transform: translateY(15px);
            }
        }

        .ball2{
            position: absolute;
            bottom: 20px;
            left: 117px;
            width: 109px;
            animation: 2s linear 0s 1 normal forwards running Ball2;
            animation-iteration-count: infinite;
	        transform-box: fill-box;
	        transform-origin: 50% 50%
        }
        @keyframes Ball2 {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-14px);
            }
            100% {
                transform: translateY(14px);
            }
        }

        .ball3{
            position: absolute;
            width: 65px;
            bottom: 75px;
            right: 196px;
            animation: 2s linear 0s 1 normal forwards running Ball3;
            animation-iteration-count: infinite;
	        transform-box: fill-box;
	        transform-origin: 50% 50%
        }

        @keyframes Ball3 {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-17px);
            }
            100% {
                transform: translateY(17px);
            }
        }

        .ball4{
            position: absolute;
            width: 95px;
            bottom: 35px;
            right: 115px;
            animation: 2s linear 0s 1 normal forwards running Ball4;
            animation-iteration-count: infinite;
	        transform-box: fill-box;
	        transform-origin: 50% 50%
        }

        @keyframes Ball4 {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-17px);
            }
            100% {
                transform: translateY(17px);
            }
        }

        .ball5{
            position: absolute;
            width: 129px;
            bottom: 85px;
            right: 15px;
            animation: 2s linear 0s 1 normal forwards running Ball5;
            animation-iteration-count: infinite;
	        transform-box: fill-box;
        	transform-origin: 50% 50%
        }

        @keyframes Ball5 {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-17px);
            }
            100% {
                transform: translateY(17px);
            }
        }

        .ball45{
            position: absolute;
            width: 104px;
            bottom: 130px;
            right: 90px;
            animation: 2s linear 0s 1 normal forwards running Ball4;
            animation-iteration-count: infinite;
	        transform-box: fill-box;
	        transform-origin: 50% 50%
        }

        @keyframes Ball4 {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-16px);
            }
            100% {
                transform: translateY(16px);
            }
        }

        .ball7{
            position: absolute;
            width: 71px;
            bottom: 135px;
            left: 115px;
            animation: 2s linear 0s 1 normal forwards running Ball7;
            animation-iteration-count: infinite;
	        transform-box: fill-box;
	        transform-origin: 50% 50%
        }

        @keyframes Ball7 {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(-13px);
            }
            100% {
                transform: translateY(13px);
            }
        }

        .footer-full {
            width: 1199px;
            display: flex;
            flex-direction: column;
            direction: rtl;
            padding-top: 35px;
        }

        .info-order {
            width: 602px;
            height: 89px;
            background: #FFFFFF;
            border-radius: 16px;
            border-right: 16px solid #0779E4;
            direction: rtl;
            padding: 17px 36px;
            margin-top: 30px;
        }
        
        .info-level1, .info-level2 {
            display: flex;
            flex-direction: row;
        }
        
        .info-level1 p, .info-level2 p {
            font-family: 'iranSans';
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 21px;
            text-align: right;
            color: #323232;
        }

}
