{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<!--start header-->
<header class="home-header">
    <div class="navbar-header fix-width">
        <button class="track-orders" onclick="location.href = 'order-tracking.html';">
            <h4>پیگیری سفارشات</h4>
        </button>
        <nav class="navbar" id="mySlidenav">
            <ul class="nav-menu">
                <li class="nav-item active">
                    <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.67317 1.15292C8.07894 0.81094 8.59251 0.623383 9.12317 0.623383C9.65382 0.623383 10.1674 0.81094 10.5732 1.15292L17.3232 6.84492C17.8302 7.27292 18.1232 7.90192 18.1232 8.56492V18.3679C18.1232 18.832 17.9388 19.2772 17.6106 19.6054C17.2824 19.9335 16.8373 20.1179 16.3732 20.1179H12.8732C12.409 20.1179 11.9639 19.9335 11.6357 19.6054C11.3075 19.2772 11.1232 18.832 11.1232 18.3679V12.8679C11.1232 12.8016 11.0968 12.738 11.0499 12.6911C11.0031 12.6443 10.9395 12.6179 10.8732 12.6179H7.37317C7.30686 12.6179 7.24328 12.6443 7.19639 12.6911C7.14951 12.738 7.12317 12.8016 7.12317 12.8679V18.3679C7.12317 18.832 6.9388 19.2772 6.61061 19.6054C6.28242 19.9335 5.8373 20.1179 5.37317 20.1179H1.87317C1.64336 20.1179 1.41579 20.0727 1.20347 19.9847C0.991153 19.8968 0.798235 19.7679 0.635732 19.6054C0.47323 19.4429 0.344326 19.2499 0.25638 19.0376C0.168434 18.8253 0.123169 18.5977 0.123169 18.3679V8.56492C0.123169 7.90192 0.416169 7.27292 0.923169 6.84492L7.67317 1.15292ZM9.60617 2.29992C9.47096 2.1861 9.2999 2.12369 9.12317 2.12369C8.94643 2.12369 8.77538 2.1861 8.64017 2.29992L1.89017 7.99092C1.80664 8.06123 1.73947 8.14894 1.69335 8.24791C1.64723 8.34688 1.62328 8.45473 1.62317 8.56392V18.3669C1.62317 18.5049 1.73517 18.6169 1.87317 18.6169H5.37317C5.43947 18.6169 5.50306 18.5906 5.54995 18.5437C5.59683 18.4968 5.62317 18.4332 5.62317 18.3669V12.8669C5.62317 11.8999 6.40717 11.1169 7.37317 11.1169H10.8732C11.8392 11.1169 12.6232 11.8999 12.6232 12.8669V18.3669C12.6232 18.5049 12.7352 18.6169 12.8732 18.6169H16.3732C16.4395 18.6169 16.5031 18.5906 16.5499 18.5437C16.5968 18.4968 16.6232 18.4332 16.6232 18.3669V8.56492C16.6231 8.45573 16.5991 8.34788 16.553 8.24891C16.5069 8.14994 16.4397 8.06223 16.3562 7.99192L9.60617 2.29992Z"
                              fill="#36395A"/>
                    </svg>
                    <a href="home.html">خانه</a>
                </li>
                <li class="nav-item">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1.18555" y="1.24591" width="8.5" height="8.5" rx="1.25" stroke="#36395A"
                              stroke-width="1.5"/>
                        <rect x="1.18555" y="12.4959" width="8.5" height="8.5" rx="1.25" stroke="#36395A"
                              stroke-width="1.5"/>
                        <rect x="12.5605" y="1.24591" width="8.5" height="8.5" rx="1.25" stroke="#36395A"
                              stroke-width="1.5"/>
                        <circle cx="16.8105" cy="16.7459" r="4.25" stroke="#36395A" stroke-width="1.5"/>
                    </svg>
                    <a href="#purchase">سرویس ها</a>
                </li>
                <li class="nav-item">
                    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1.18555" y="1.68341" width="19.875" height="16.875" rx="1.25" stroke="#36395A"
                              stroke-width="1.5"/>
                        <path d="M0.880859 5.8633H21.3652" stroke="#36395A" stroke-width="1.5"/>
                        <path d="M14.0193 5.642V18.5045" stroke="#36395A" stroke-width="1.5"/>
                    </svg>
                    <a href="blog.html">بلاگ</a>
                </li>
                <li class="nav-item">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M10.9792 13.2649C9.80919 12.0949 8.92719 10.7849 8.34119 9.4559C8.21719 9.1749 8.29019 8.8459 8.50719 8.6289L9.32619 7.8109C9.99719 7.1399 9.99719 6.1909 9.41119 5.6049L8.23719 4.4309C7.45619 3.6499 6.19019 3.6499 5.40919 4.4309L4.75719 5.0829C4.01619 5.8239 3.70719 6.8929 3.90719 7.9529C4.40119 10.5659 5.91919 13.4269 8.36819 15.8759C10.8172 18.3249 13.6782 19.8429 16.2912 20.3369C17.3512 20.5369 18.4202 20.2279 19.1612 19.4869L19.8122 18.8359C20.5932 18.0549 20.5932 16.7889 19.8122 16.0079L18.6392 14.8349C18.0532 14.2489 17.1032 14.2489 16.5182 14.8349L15.6152 15.7389C15.3982 15.9559 15.0692 16.0289 14.7882 15.9049C13.4592 15.3179 12.1492 14.4349 10.9792 13.2649Z"
                              stroke="#36395A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <a href="contact.html">تماس با ما</a>
                </li>
                <li class="nav-item">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.123 22.1209C17.6459 22.1209 22.123 17.6438 22.123 12.1209C22.123 6.59806 17.6459 2.12091 12.123 2.12091C6.6002 2.12091 2.12305 6.59806 2.12305 12.1209C2.12305 17.6438 6.6002 22.1209 12.123 22.1209Z"
                              stroke="#36395A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.123 16.1209V12.1209" stroke="#36395A" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M12.123 8.12091H12.133" stroke="#36395A" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    <a href="aboutus.html">درباره ما</a>
                </li>
            </ul>

        </nav>
        <div class="logo">
            <img src="img/InstaLIKE.png" alt="logo"/>
        </div>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</header>
<!--end header-->

<!--start buy likes section-->
<section class="buy-likes">
    <div class="landing"></div>
    <div class="buy-like-full fix-width">
        <article class="left-side">
            <img class="img-left" src="img/Asset 10 1.png" alt="banner-img"/>
            <img class="ball1" src="img/Ball1.png">
            <img class="ball2" src="img/Ball5.png">
            <img class="ball3" src="img/Ball3.png">
            <img class="ball4" src="img/Ball4.png">
            <img class="ball5" src="img/Ball5.png">
            <img class="ball45" src="img/Ball45.png">
            <img class="ball7" src="img/Ball7.png">
        </article>
        <article class="right-side">
            <h2>افزایش فالوور و لایک اینستاگرام</h2>
            <p>کاربران ایرانی که در اینستاگرام هستند پست های شما را مشاهده می کنند و در صورت پسند آن ها را لایک خواهند
                کرد، دیجی ممبر به شما تضمین خواهد داد در صورت که به طور مثال شما 3 هزار لایک ایرانی خرید کرده اید ما به
                شما بیش از 3 هزار لایک ایرانی خواهیم زد مقداری هدیه نزد ما خواهید داشت .</p>
            <div class="buttons">
                <button class="la-btn animated">
                    <h4>خرید لایک</h4>
                </button>
                <button class="la-btn animated">
                    <h4>خرید فالور</h4>
                </button>
            </div>

        </article>
    </div>
    <img class="landing-img" src="img/sep-white-v2.svg"/>
</section>
<!--end buy likes section-->

<!--start Attributes section-->
<section class="attributes">
    <div class="attributes-full">
        <div class="card">
            <div class="circle-out">
                <div class="circle-inside">
                    <lottie-player class="lock" src="https://assets8.lottiefiles.com/packages/lf20_1simvuvy.json"
                                   background="transparent" speed="1" style="width: 150px; height: 150px;" loop
                                   autoplay></lottie-player>
                </div>
            </div>
            <h3>امنیت</h3>
        </div>

        <div class="card">
            <div class="circle-out">
                <div class="circle-inside">
                    <lottie-player class="tick" src="https://assets10.lottiefiles.com/packages/lf20_w1nstm3x.json"
                                   background="transparent" speed="1" style="width: 100px; height: 100px;" loop
                                   autoplay></lottie-player>
                </div>
            </div>
            <h3>تضمین سفارش</h3>
        </div>

        <div class="card">
            <div class="circle-out">
                <div class="circle-inside">
                    <lottie-player class="speed" src="https://assets8.lottiefiles.com/packages/lf20_u2pdstno.json"
                                   background="transparent" speed="1" style="width: 100px; height: 100px;" loop
                                   autoplay></lottie-player>
                </div>
            </div>
            <h3>سرعت</h3>
        </div>

        <div class="card">
            <div class="circle-out">
                <div class="circle-inside">
                    <lottie-player class="gear" src="https://assets3.lottiefiles.com/packages/lf20_317vhyc5.json"
                                   background="transparent" speed="1" style="width: 65px; height: 65px;" loop
                                   autoplay></lottie-player>
                </div>
            </div>
            <h3>به صرفه</h3>
        </div>
    </div>
</section>
<!--end Attributes section-->

<!--start order follower-->
<section class="order-follower">

</section>
<!--end order follower-->


<!--start Purchase package-->
<section class="purchase" id="purchase">
    <div class="purchase-full">
        <h2>سفارش سریع</h2>
        <div class="nav-prev arrow"><img src="img/Patharrow.png" alt="arrow"/></div>
        <div class="nav-next arrow"><img src="img/Patharrow.png" alt="arrow"/></div>
        <div class="nav-prev1 arrow"><img src="img/Patharrow.png" alt="arrow"/></div>
        <div class="nav-next1 arrow"><img src="img/Patharrow.png" alt="arrow"/></div>
        <div class="filter-btn">
            <div id="myBtnContainer">
                <button class="btn active-btn" onclick="filterSelection('all')"> نمایش همه</button>
                <button class="btn" onclick="filterSelection('filter1')">سفارش فالور اینستاگرام</button>
                <button class="btn" onclick="filterSelection('filter2')"> سفارش فالور اینستاگرام</button>
                <button class="btn" onclick="filterSelection('filter3')"> سفارش فالور اینستاگرام</button>
                <button class="btn" onclick="filterSelection('filter4')"> سفارش فالور اینستاگرام</button>
                <button class="btn" onclick="filterSelection('filter5')"> سفارش فالور اینستاگرام</button>
            </div>
        </div>

        <div class="container">
            <div class="filterDiv filter1">
                <div class="full-filer">
                    <div class="pur-card">
                        <div class="white-semic">
                            <img src="img/Ellipse 6white.png"/>
                            <h4>2000</h4>
                            <p>فالور واقعی</p>
                        </div>
                        <img class="blue-semic" src="img/Ellipse 5blue.png"/>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <button class="pur-button">خرید فالور</button>

                    </div>

                    <div class="pur-card">
                        <div class="white-semic">
                            <img src="img/Ellipse 6white.png"/>
                            <h4>2000</h4>
                            <p>فالور واقعی</p>
                        </div>
                        <img class="blue-semic" src="img/Ellipse 5blue.png"/>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <button class="pur-button">خرید فالور</button>

                    </div>
                </div>
            </div>
            <div class="filterDiv filter2">
                <div class="full-filer">
                    <div class="pur-card">
                        <div class="white-semic">
                            <img src="img/Ellipse 6white.png"/>
                            <h4>2000</h4>
                            <p>فالور واقعی</p>
                        </div>
                        <img class="blue-semic" src="img/Ellipse 5blue.png"/>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <button class="pur-button">خرید فالور</button>

                    </div>
                </div>
            </div>
            <div class="filterDiv filter3">
                <div class="full-filer">
                    <div class="pur-card">
                        <div class="white-semic">
                            <img src="img/Ellipse 6white.png"/>
                            <h4>2000</h4>
                            <p>فالور واقعی</p>
                        </div>
                        <img class="blue-semic" src="img/Ellipse 5blue.png"/>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <button class="pur-button">خرید فالور</button>

                    </div>

                    <div class="pur-card">
                        <div class="white-semic">
                            <img src="img/Ellipse 6white.png"/>
                            <h4>2000</h4>
                            <p>فالور واقعی</p>
                        </div>
                        <img class="blue-semic" src="img/Ellipse 5blue.png"/>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <div class="text-row">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.48095 19.7442C9.77607 19.7052 10.0742 19.7852 10.3093 19.9663L11.3927 20.7977C11.7509 21.0728 12.2491 21.0728 12.6063 20.7977L13.7307 19.9343C13.9408 19.7732 14.2059 19.7022 14.468 19.7372L15.8746 19.9223C16.3218 19.9813 16.753 19.7322 16.9261 19.315L17.4673 18.0065C17.5683 17.7614 17.7624 17.5673 18.0075 17.4663L19.316 16.925C19.7332 16.753 19.9823 16.3208 19.9233 15.8736L19.7452 14.518C19.7062 14.2229 19.7862 13.9248 19.9673 13.6897L20.7987 12.6063C21.0738 12.2481 21.0738 11.7499 20.7987 11.3927L19.9353 10.2683C19.7742 10.0582 19.7032 9.79308 19.7382 9.53097L19.9233 8.12438C19.9823 7.6772 19.7332 7.24602 19.316 7.07295L18.0075 6.53172C17.7624 6.43068 17.5683 6.2366 17.4673 5.9915L16.9261 4.68295C16.754 4.26578 16.3218 4.01667 15.8746 4.0757L14.468 4.26078C14.2059 4.29679 13.9408 4.22576 13.7317 4.06569L12.6073 3.20233C12.2491 2.92722 11.7509 2.92722 11.3937 3.20233L10.2693 4.06569C10.0592 4.22576 9.79408 4.29679 9.53197 4.26278L8.12538 4.0777C7.6782 4.01867 7.24702 4.26778 7.07395 4.68495L6.53372 5.9935C6.43168 6.2376 6.2376 6.43168 5.9935 6.53372L4.68495 7.07395C4.26778 7.24702 4.01867 7.6782 4.0777 8.12538L4.26278 9.53197C4.29679 9.79408 4.22576 10.0592 4.06569 10.2683L3.20233 11.3927C2.92722 11.7509 2.92722 12.2491 3.20233 12.6063L4.06569 13.7307C4.22676 13.9408 4.29779 14.2059 4.26278 14.468L4.0777 15.8746C4.01867 16.3218 4.26778 16.753 4.68495 16.9261L5.9935 17.4673C6.2386 17.5683 6.43268 17.7624 6.53372 18.0075L7.07495 19.316C7.24702 19.7332 7.6792 19.9823 8.12639 19.9233L9.48095 19.7442"
                                      stroke="#0779E4" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                                <path d="M14.8002 10.6004L11.2977 14.1029L9.19783 12.002" stroke="#0779E4"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <p>بدون نیاز به پسورد</p>
                        </div>

                        <button class="pur-button">خرید فالور</button>

                    </div>
                </div>
            </div>
            <div class="filterDiv filter4">

            </div>
            <div class="filterDiv filter5">

            </div>
        </div>
    </div>
</section>
<!--end Purchase package-->

<!--start buy like-->
<section class="buy-like">
    <h2>چقدر لایک می خوای</h2>
    <p>در این قسمت میتونی تعداد لایکی که نیاز داری رو انتخاب کنی</p>
    <div class="range-full">
        <button class="like-buy-sub">خرید لایک</button>
        <div class="range-container">
            <input type="range" name="range" id="range" min="200" max="10000" step="5"/>
            <label for="range">5000 لایک</label>
        </div>
        <div id="demo">25,000 تومان</div>
    </div>
</section>
<!--end buy like-->

<!--start statics-->
<section class="statics">
    <div class="statics-full">
        <article class="right-statics">
            <div class="up-right">
                <p>5000000</p>
                <p>تعداد لایک ارسال شده</p>
            </div>
            <div class="down-right">
                <p>5000000</p>
                <p>تعداد فالور ارسال شده</p>
            </div>
        </article>
        <article class="left-statics">
            <div class="up-right">
                <p>5000000</p>
                <p>تعداد ویو ها</p>
            </div>
            <div class="down-right">
                <p>5000000</p>
                <p>تعداد کل سفارشات</p>
            </div>
        </article>
    </div>
</section>
<!--end statics-->

<!--start text section-->
<section class="text-section">
    <h1>افزایش فالوور و لایک اینستاگرام </h1>
    <p>کاربران ایرانی که در اینستاگرام هستند پست های شما را مشاهده می کنند و در صورت پسند آن ها را لایک خواهند کرد، دیجی
        ممبر به شما تضمین خواهد داد در صورت که به طور مثال شما 3 هزار لایک ایرانی خرید کرده اید ما به شما بیش از 3 هزار
        لایک ایرانی خواهیم زد مقداری هدیه نزد ما خواهید داشت .</p>
</section>
<!--end text section-->

<!--start comment section-->
<section class="comment-section">
    <h1>نظرات کاربران</h1>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <h2>محمدرضا علیخانی</h2>
            <div class="star">
                <img src="img/Pathstar.png" alt="star"/>
                <img src="img/Pathstar.png" alt="star"/>
                <img src="img/Pathstar.png" alt="star"/>
                <img src="img/Pathstar.png" alt="star"/>
                <img src="img/Pathstar.png" alt="star"/>
            </div>
            <p>سلام عالی عالی من 5000 تا گرفتم بعد از 6 ساعت کامل اومد یه مقدار هم هدیه زده بودید که واقعا دستتون درد
                نکنه. این پیامم به دست اونایی برسه که دنبال سایت ارزون و خوب هستن واسه خرید لایک و فالوور.</p>

        </div>
        <div class="mySlides fade">
            <h2>محمدرضا علیخانی</h2>
            <div class="star">
                <img src="img/Pathstar.png" alt="star"/>
                <img src="img/Pathstar.png" alt="star"/>
                <img src="img/Pathstar.png" alt="star"/>
                <img src="img/Pathstar.png" alt="star"/>
                <img src="img/Pathstar.png" alt="star"/>
            </div>
            <p>سلام عالی عالی من 5000 تا گرفتم بعد از 6 ساعت کامل اومد یه مقدار هم هدیه زده بودید که واقعا دستتون درد
                نکنه. این پیامم به دست اونایی برسه که دنبال سایت ارزون و خوب هستن واسه خرید لایک و فالوور.</p>
        </div>
        <a class="next" onclick="plusSlides(-1)">&#10094;</a>
        <a class="prev" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="all-dot">
        <span class="dot" onclick='currentSlide(1)'></span>
        <span class="dot" onclick='currentSlide(2)'></span>
    </div>

    <button class="send-comment-home">ارسال نظر</button>
</section>
<!--end comment section-->

<!--start footer-->
<footer>
    <div class="footer-full">
        <section class="up-section">
            <article class="footer-article-one">
                <div class="column-one">
                    <h2>اینستالایک</h2>
                    <div class="footer-line"></div>
                    <ul>
                        <li><a href="#">خانه</a></li>
                        <li><a href="#">سرویس ها</a></li>
                        <li><a href="#">وبلاگ</a></li>
                    </ul>
                </div>

                <div class="column-two">
                    <h2>ارتباط با ما</h2>
                    <div class="footer-line"></div>
                    <ul>
                        <li>
                            <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M8.35602 11.151C7.18602 9.98095 6.30402 8.67095 5.71802 7.34195C5.59402 7.06095 5.66702 6.73195 5.88402 6.51495L6.70302 5.69695C7.37402 5.02595 7.37402 4.07695 6.78802 3.49095L5.61402 2.31695C4.83302 1.53595 3.56702 1.53595 2.78602 2.31695L2.13402 2.96895C1.39302 3.70995 1.08402 4.77895 1.28402 5.83895C1.77802 8.45195 3.29602 11.313 5.74502 13.762C8.19402 16.211 11.055 17.729 13.668 18.223C14.728 18.423 15.797 18.114 16.538 17.373L17.189 16.722C17.97 15.941 17.97 14.675 17.189 13.894L16.016 12.721C15.43 12.135 14.48 12.135 13.895 12.721L12.992 13.625C12.775 13.842 12.446 13.915 12.165 13.791C10.836 13.204 9.52602 12.321 8.35602 11.151Z"
                                      stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <a href="tel:09365892045">09125469871</a></li>

                        <li>
                            <div class="whatsapp">
                                <svg class="whatsapp-svg1" width="11" height="11" viewBox="0 0 11 11" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.2226 7.56699C9.96715 7.43574 8.6945 6.8123 8.45778 6.72793C8.22106 6.63887 8.04762 6.59668 7.87653 6.85918C7.70309 7.11934 7.21091 7.69824 7.05622 7.87402C6.90622 8.04746 6.75387 8.06855 6.49841 7.93965C4.97966 7.18027 3.98357 6.58496 2.98279 4.86699C2.71794 4.40996 3.24763 4.44277 3.74216 3.45605C3.82653 3.28262 3.78435 3.13496 3.71872 3.00371C3.6531 2.87246 3.13747 1.60215 2.92185 1.08418C2.71325 0.580273 2.49763 0.650586 2.3406 0.641211C2.1906 0.631836 2.01951 0.631836 1.84607 0.631836C1.67263 0.631836 1.39372 0.697461 1.15701 0.95293C0.920288 1.21309 0.252319 1.83887 0.252319 3.10918C0.252319 4.37949 1.1781 5.60996 1.30466 5.7834C1.43591 5.95684 3.12575 8.56309 5.72028 9.68574C7.36091 10.3936 8.00309 10.4545 8.8234 10.3326C9.32262 10.2576 10.3515 9.70918 10.5648 9.10215C10.7781 8.49746 10.7781 7.97949 10.7148 7.87168C10.6515 7.75684 10.4781 7.69121 10.2226 7.56699Z"
                                          fill="white"/>
                                </svg>
                                <svg class="whatsapp-svg2" width="21" height="22" viewBox="0 0 21 22" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.1844 6.43809C19.6547 5.17949 18.8953 4.0498 17.9274 3.07949C16.9594 2.11152 15.8297 1.3498 14.5688 0.822461C13.2797 0.281055 11.9109 0.00683594 10.5 0.00683594H10.4531C9.03282 0.0138672 7.65704 0.295117 6.36329 0.848242C5.11407 1.38262 3.99376 2.14199 3.03517 3.10996C2.07657 4.07793 1.32423 5.20293 0.803917 6.45684C0.264855 7.75527 -0.00702035 9.13574 1.08969e-05 10.5561C0.00704215 12.1826 0.396105 13.7975 1.12501 15.2412V18.8037C1.12501 19.399 1.60782 19.8818 2.20314 19.8818H5.76798C7.21173 20.6107 8.82657 20.9998 10.4531 21.0068H10.5024C11.9063 21.0068 13.268 20.735 14.55 20.2029C15.8039 19.6803 16.9313 18.9303 17.8969 17.9717C18.8649 17.0131 19.6266 15.8928 20.1586 14.6436C20.7117 13.3498 20.993 11.974 21 10.5537C21.007 9.12637 20.7305 7.74121 20.1844 6.43809ZM16.643 16.7037C15 18.3303 12.8203 19.2256 10.5 19.2256H10.4602C9.04689 19.2186 7.64298 18.867 6.40314 18.2061L6.20626 18.1006H2.90626V14.8006L2.80079 14.6037C2.13985 13.3639 1.78829 11.96 1.78126 10.5467C1.77189 8.20996 2.66485 6.01621 4.30314 4.36387C5.93907 2.71152 8.12579 1.79746 10.4625 1.78809H10.5024C11.6742 1.78809 12.8109 2.01543 13.882 2.46543C14.9274 2.90371 15.8649 3.53418 16.6711 4.34043C17.475 5.14434 18.1078 6.08418 18.5461 7.12949C19.0008 8.2123 19.2281 9.36074 19.2234 10.5467C19.2094 12.8811 18.293 15.0678 16.643 16.7037Z"
                                          fill="white"/>
                                </svg>
                            </div>
                            <a href="tel:09365892045">09365892045</a></li>
                        <li>
                            <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.0525 0.503746C17.8117 0.521263 17.5754 0.577747 17.3527 0.670996H17.3497C17.136 0.755746 16.1197 1.18325 14.5747 1.83125L9.03822 4.163C5.06547 5.8355 1.16022 7.4825 1.16022 7.4825L1.20672 7.4645C1.20672 7.4645 0.937467 7.553 0.656217 7.74575C0.482463 7.85631 0.332947 8.00098 0.216717 8.171C0.0787169 8.3735 -0.032283 8.68325 0.00896697 9.0035C0.076467 9.545 0.427467 9.86975 0.679467 10.049C0.934467 10.2305 1.17747 10.3152 1.17747 10.3152H1.18347L4.84572 11.549C5.00997 12.0762 5.96172 15.2052 6.19047 15.926C6.32547 16.3565 6.45672 16.6257 6.62097 16.8312C6.70047 16.9362 6.79347 17.024 6.90522 17.0945C6.96331 17.1283 7.02526 17.155 7.08972 17.174L7.05222 17.165C7.06347 17.168 7.07247 17.177 7.08072 17.18C7.11072 17.1882 7.13097 17.1912 7.16922 17.1972C7.74897 17.3727 8.21472 17.0127 8.21472 17.0127L8.24097 16.9917L10.4032 15.023L14.0272 17.8032L14.1097 17.8385C14.865 18.17 15.63 17.9855 16.0342 17.66C16.4415 17.3322 16.5997 16.913 16.5997 16.913L16.626 16.8455L19.4265 2.49875C19.506 2.14475 19.5262 1.81325 19.4385 1.4915C19.348 1.16587 19.139 0.885801 18.8527 0.706246C18.6123 0.560082 18.3335 0.489533 18.0525 0.503746ZM17.9767 2.04125C17.9737 2.0885 17.9827 2.08325 17.9617 2.174V2.18225L15.1875 16.3797C15.1755 16.4 15.1552 16.4442 15.0997 16.4885C15.0412 16.535 14.9947 16.5642 14.751 16.4675L10.3185 13.0692L7.64097 15.5097L8.20347 11.9172L15.4455 5.16725C15.744 4.88975 15.6442 4.83125 15.6442 4.83125C15.6652 4.49075 15.1935 4.7315 15.1935 4.7315L6.06147 10.3887L6.05847 10.3737L1.68147 8.9V8.897L1.67022 8.89475C1.67789 8.8922 1.6854 8.88919 1.69272 8.88575L1.71672 8.87375L1.73997 8.8655C1.73997 8.8655 5.64822 7.2185 9.62097 5.546C11.61 4.70825 13.614 3.8645 15.1552 3.2135C16.6965 2.56625 17.8357 2.0915 17.9002 2.066C17.9617 2.042 17.9325 2.042 17.9767 2.042V2.04125Z"
                                      fill="white"/>
                            </svg>
                            <a href="telegram.me/instalike">telegram.me/instalike</a></li>
                    </ul>
                </div>
            </article>


            <article class="footer-article-two">
                <h2>خبرنامه</h2>
                <div class="footer-line"></div>
                <form class="footer-form">
                    <label for="email" class="email-footer-label">ایمیل</label>
                    <div class="footer-email"><input type="email" name="email" id="footer-email"/></div>
                    <div class="f-submit"><input class="footer-submit" type="submit" value="ثبت نظر"/></div>
                </form>
                <div class="symbol">
                    <h2>نمادها</h2>
                    <div class="symbol-card"><img/></div>
                    <div class="symbol-card"><img/></div>
                    <div class="symbol-card"><img/></div>
                    <div class="symbol-card"><img/></div>
                </div>
            </article>
        </section>
        <section class="down-footer">
            <p> کپی رایت ۲۰۲۱ برای وبسایت ما.</p>
        </section>
    </div>
</footer>

<!--end footer-->


<!--script-->
<script src="js/menu.js"></script>
<script src="js/slideshow.js"></script>
<script src="js/filter.js"></script>
<script src="js/range.js"></script>
<script src="js/slider.js"></script>
<script>
    var down = false;
    var scrollLeft = 0;
    var x = 0;

    $('.container').mousedown(function (e) {
        down = true;
        scrollLeft = this.scrollLeft;
        x = e.clientX;
    }).mouseup(function () {
        down = false;
    }).mousemove(function (e) {
        if (down) {
            this.scrollLeft = scrollLeft + x - e.clientX;
        }
    }).mouseleave(function () {
        down = false;
    });

</script>

<script>
    var down = false;
    var scrollLeft = 0;
    var x = 0;

    $('.filter-btn').mousedown(function (e) {
        down = true;
        scrollLeft = this.scrollLeft;
        x = e.clientX;
    }).mouseup(function () {
        down = false;
    }).mousemove(function (e) {
        if (down) {
            this.scrollLeft = scrollLeft + x - e.clientX;
        }
    }).mouseleave(function () {
        down = false;
    });

</script>


</body>
</html>
